$page-width: 750px;
$bg-green: #579c87;
$title-color: #fdcb46;
$bg-color-menu1: rgb(252,223,219);
$bg-color-menu2: #fff5fe;
$bg-color-menu3: #edefef;
$bg-color-menu4: #fdfffd;
$menu-1-main-color: rgb(61, 19, 25);
$txt-color-2a: #c67412;
$txt-color-2b: #a56799;
$txt-color-2c: #6e4ccc;
$shadow-color: rgb(0, 0, 0, 0.2);