@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
@font-face {
  font-family: "Junicode";
  src: url("../../fonts/junicode/Junicode-webfont.eot") format("eot");
  src: url("../../fonts/junicode/Junicode-webfont.woff") format("woff");
  src: url("../../fonts/junicode/Junicode-webfont.ttf") format("truetype");
  src: url("../../fonts/junicode/Junicode-webfont.svg") format("svg");
}
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.wrapper {
  min-height: 100%;
  max-width: 750px;
  margin: auto;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 6px 80px 6px;
}

a {
  text-decoration: none;
}

/* Balises utilitaires*/
.text-bold {
  font-weight: bold;
}

.main--left_align {
  align-items: flex-start;
}
.main--left_align h1 {
  width: 100%;
  text-align: center;
}
.main--left_align p {
  margin: 0.8rem 0;
  color: #444444;
}
.main--left_align h2 {
  font-size: 1.2rem;
  margin: 0;
}

header {
  height: 95px;
  background-color: #579c87;
  color: #fdcb46;
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  margin-top: 12px;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
}
footer .item {
  margin: 0 12px 0 12px;
  padding: 0.5rem;
}
footer .item:hover {
  animation: headshake 200ms ease-in-out 2;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

@keyframes headshake {
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
.menu-preview {
  margin: 36px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-menu {
  width: 40%;
  margin-bottom: 2.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.image-menu img {
  width: 100%;
  vertical-align: middle;
  transform: scale(1);
  transition: 400ms ease-in-out;
}
.image-menu img:hover {
  transform: scale(1.3);
  opacity: 0.3;
}
@media screen and (max-width: 599px) {
  .image-menu {
    width: 100%;
    max-width: 15rem;
  }
}

.btn {
  display: inline-block;
  padding: 8px 30px 8px 30px;
  border-radius: 6px;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn p {
  height: 1.5rem;
  margin: 0;
}

.load {
  display: flex;
  width: 2.5rem;
  height: 1.5rem;
  justify-content: space-evenly;
  align-items: flex-start;
}
.load__dot {
  font-weight: bold;
  height: 0.5rem;
  animation: writing 600ms ease-in-out infinite;
  animation-direction: alternate;
}
.load__dot--1 {
  animation-delay: 200ms;
}
.load__dot--2 {
  animation-delay: 400ms;
}
.load__dot--3 {
  animation-delay: 600ms;
}

@keyframes writing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
h1 {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  h1 {
    display: none;
  }
}

.menu {
  min-height: 48rem;
  margin: 0 3.75rem 1.85rem 3.75rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.menu h2 {
  text-align: center;
}
.menu img {
  width: 4vw;
  height: auto;
}
.menu--1 {
  background-color: #fcdfdb;
  padding: 2.5rem 3.75rem 0 3.75rem;
  font-family: "Kalam", cursive;
  color: #3d1319;
}
.menu--1 h2 {
  font-family: Devonshire;
  font-size: 2.5rem;
  font-weight: normal;
  color: #3d1319;
  margin: 0;
}
.menu--2 {
  background-color: #fff5fe;
  padding: 2.5rem 1.25rem 0 1.25rem;
  font-family: "Source Sans Pro";
}
.menu--2 h2 {
  font-family: Junicode;
  font-size: 2.5rem;
  font-weight: normal;
  background: linear-gradient(to bottom right, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5rem 0;
}
.menu--3 {
  background-color: #edefef;
  padding: 2.5rem 1.25rem 0 1.25rem;
  font-family: "Kalam", cursive;
}
.menu--3 h2 {
  font-family: "Dancing Script";
  font-size: 3.5rem;
  font-weight: normal;
  background: linear-gradient(to bottom right, #0228dd, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5rem 0;
}
.menu--4 {
  background-color: #fdfffd;
  padding: 2.5rem 1.25rem 0 1.25rem;
  font-family: "Kalam", cursive;
}
.menu--4 h2 {
  font-family: "Kaushan Script";
  font-size: 3.5rem;
  font-weight: normal;
  background: linear-gradient(to bottom right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5rem 0;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__header .sidebar {
  width: 30%;
}
.menu__header img {
  width: 100%;
}
.menu__header--1 h3 {
  text-align: center;
  position: relative;
}
.menu__header--1 h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #3d1319;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--1 h3:hover {
  cursor: default;
}
.menu__header--1 h3:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__header--2 {
  margin-top: 2.5rem;
}
.menu__header--2 h3 {
  font-size: 0.9rem;
  padding-bottom: 6px;
}
.menu__header--2 h3.color-2a {
  text-align: center;
  position: relative;
}
.menu__header--2 h3.color-2a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #c67412;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--2 h3.color-2a:hover {
  cursor: default;
}
.menu__header--2 h3.color-2a:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__header--2 h3.color-2b {
  text-align: center;
  position: relative;
}
.menu__header--2 h3.color-2b::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #a56799;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--2 h3.color-2b:hover {
  cursor: default;
}
.menu__header--2 h3.color-2b:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__header--2 h3.color-2c {
  text-align: center;
  position: relative;
}
.menu__header--2 h3.color-2c::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #6e4ccc;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--2 h3.color-2c:hover {
  cursor: default;
}
.menu__header--2 h3.color-2c:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__header--3 {
  margin-top: 1rem;
}
.menu__header--3 h3 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  position: relative;
}
.menu__header--3 h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: black;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--3 h3:hover {
  cursor: default;
}
.menu__header--3 h3:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__header--4 {
  margin-top: 1rem;
}
.menu__header--4 h3 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  position: relative;
}
.menu__header--4 h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: black;
  transform: scaleY(1) scaleX(0);
  transform-origin: left;
  transition: 500ms ease-in-out;
}
.menu__header--4 h3:hover {
  cursor: default;
}
.menu__header--4 h3:hover::after {
  transform: scaleY(1) scale(1);
}
.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
}
.menu__items--1 {
  width: 100%;
}
.menu__items--2 {
  width: 80%;
}
.menu__items--3 {
  width: 85%;
}
.menu__items--3 .price {
  font-size: 1.2rem;
}
.menu__items--4 {
  width: 85%;
}
.menu__items--4 .price {
  font-size: 1.2rem;
}
.menu__items .item {
  margin-bottom: 0.65rem;
}
.menu__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  height: 3.75rem;
}
.menu__footer img {
  width: 10%;
  height: auto;
  margin-right: 10px;
}
.menu__footer h2 {
  font-size: 1.8rem;
}
@media screen and (max-width: 599px) {
  .menu {
    /* .menu */
    margin: 2rem 0.5rem 0.5rem;
    padding: 1rem !important;
  }
  .menu h2 {
    /*display: none;*/
    font-size: 2rem;
    margin: 0;
  }
  .menu img {
    display: none;
  }
  .menu__header .sidebar {
    display: none;
  }
  .menu__items {
    width: 100%;
  }
  .menu__items .item {
    margin-right: 0.5rem;
  }
  .menu__footer {
    display: none;
  }
}

.color-2a {
  color: #c67412;
}

.color-2b {
  color: #a56799;
}

.color-2c {
  color: #6e4ccc;
}

/*# sourceMappingURL=style.css.map */
