/* Intégration des polices de caractères */
@font-face {
    font-family: 'ambleregular';
    src: url('../fonts/Amble-Regular-webfont.eot'),
        url('../fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amble-Regular-webfont.woff') format('woff'),
        url('../fonts/Amble-Regular-webfont.ttf') format('truetype'),
        url('../fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Layout de page */
body {
	font-family: ambleregular, arial, serif;
	background-color: rgb(33,33,33);
	color: rgb(33,33,33);
}

#main_wrapper {
	width: 1180px;
	background-color: white;
	border: 1px solid rgb(59,169,223);
	margin: auto;
	display: flex;
	flex-direction: row;
}

aside{
	width: 550px;
    padding: 30px 0 30px 0;
	background-color: rgb(152,213,235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Elements HTML globaux */
h1 {
	font-size: 4em;
	font-weight: normal;
	margin-bottom: 10px;
    color: black;
}
h1 span {
	color: rgb(59,169,223);
}

h2 {
	background-color: rgb(33,33,33);
	text-align: center;
	color: rgb(59,169,223);
	padding: 6px;
}

h3 {
	margin: 0 0 100px 0;
	font-size: 1.5em;
	padding-bottom: 4px;
	background: url(../images/border.png) no-repeat bottom left;
}

h4 {
    color: black;
	border-bottom: 2px solid rgb(59,169,223);
	font-size: 1.6em;
	padding: 6px 0 6px 0;
}
h5 {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 1.3em;
}

h6 {
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 1em;
	font-weight: normal;
}

img {
	border-radius: 50%;
}

p{
	margin: 0;
}

.bold {
    font-weight: bold;
}

/* Elements de Aside*/
#photo {
	width: 300px;
	margin: auto;
}

.info:nth-child(3) {
    flex: 1;
}

.sub_info {
    margin: 0 35px 0 35px;
    text-align: justify;

}
.sub_info p {
    margin-bottom: 6px;
}

.hobby
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    margin-bottom: 10px;
}

.icon_a {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(33,33,33);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: auto;
}

/* Elements du main*/
#parcours {
	margin: 100px 60px 70px 70px;
}

.icon_b {
	color: rgb(59,169,223);
	margin-right: 20px;
}

.entry {
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: row;
}

.date {
	width: 30%;
    font-weight: bold;
}

.description {
	flex: 1;
}

.bloc_reco {
    display: flex;
    flex-direction: row;
}

.reco {
    width: 50%;
    width: 50%;
}

/* @media queries */
@media screen and (max-width: 1180px) {
	#main_wrapper {
	    width: auto;
	    flex-wrap: wrap;
    }

    aside {
	    width: auto;
    }

    .entry {
        flex-wrap: wrap;
        width: auto;
    }

    .date {
        width: 100%;
        margin-bottom: 12px;
    }
    .description {
        width: 100%;
        flex: none;
    }

    .bloc_reco {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .reco {
        width: auto;
        margin-bottom: 12px;
    }
}